@font-face {
	font-family: 'jq22icons';
	font-weight: normal;
	font-style: normal;
	src: 	url('../fonts/jq22icons/jq22icons.eot');
	src: 	url('../fonts/jq22icons/jq22icons.eot?#iefix') format('embedded-opentype'), 
			url('../fonts/jq22icons/jq22icons.woff') format('woff'), 
			url('../fonts/jq22icons/jq22icons.ttf') format('truetype'), 
			url('../fonts/jq22icons/jq22icons.svg#jq22icons') format('svg');
}

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/*
 * === General Demo Styles ===
 */

body {
	font-family: 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	color: #2d2e36;
	background-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
audio {
	display: none;
}

/*
 * --- Containers & Layout ---
 */

.container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

.content {
	overflow: hidden;
	height: 100vh;
}

.container-drums {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 50%;
	padding: 2em 0 0 0;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.screen-sm-hidden {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.container-drums svg {
	width: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.container-drums svg g {
	cursor: pointer;
}

.demo-footer {
	position: absolute;
	z-index: 1000;
	top: 0;
	right: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 2em;
}

.container-sequencer {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.container-sequencer.collapse {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

/*
 * --- Buttons ---
 */

.btn {
	font-size: 1.65em;
	font-weight: bold;
	line-height: 1;
	width: auto;
	margin: 0 0.125em;
	padding: 0.5rem;
	vertical-align: middle;
	text-decoration: none;
	color: #89939B;
	border: 0;
	border-radius: 2px;
	background: #B0B9C0;
}


/*
 * --- Keys ---
 */

#All-Keys {
	display: none;
}

.key-wrap {
	fill: #F3F8FC;
}

.key-text {
	font-size: 62px;
	font-weight: bold;
	fill: #B0B9C0;
}

@media (min-width: 700px) {
	.content {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.container-sequencer {
		-webkit-transition: -webkit-transform 0.6s;
		transition: transform 0.6s;
		-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
		transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	}
	.container-sequencer.collapse {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
	.container-drums {
		width: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.container-drums svg {
		max-height: 65%;
		-webkit-transform: scale(1.25);
		transform: scale(1.25);
		-webkit-transition: -webkit-transform 0.6s;
		transition: transform 0.6s;
		-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
		transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	}
	.screen-sm-hidden {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	.screen-sm-hidden svg {
		-webkit-transform: scale(0.85);
		transform: scale(0.85);
	}
	.btn-tooltip {
		position: relative;
	}
	.btn-tooltip::before,
	.btn-tooltip::after {
		position: absolute;
		left: 50%;
		pointer-events: none;
		opacity: 0;
	}
	.btn-tooltip:hover::before,
	.btn-tooltip:hover::after {
		opacity: 1;
		-webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
		transition: opacity 0.3s ease, transform 0.3s ease;
		-webkit-transition-delay: 0.1s;
		transition-delay: 0.1s;
	}
	.btn-tooltip::before {
		content: '';
		z-index: 1001;
		top: 100%;
		width: 0;
		height: 0;
		margin: 0 0 0 -6px;
		pointer-events: none;
		border: solid transparent;
		border-width: 6px;
		border-color: transparent;
		border-bottom-color: #2d2e36;
		-webkit-transform: translate3d(0, -5px, 0);
		transform: translate3d(0, -5px, 0);
	}
	.btn-tooltip:hover::before {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.btn-tooltip::after {
		content: attr(aria-label);
		font-size: 0.41em;
		font-weight: bold;
		line-height: 1.2;
		z-index: 1000;
		top: 100%;
		margin: 12px 0 0 0;
		padding: 8px 10px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #fff;
		border-radius: 3px;
		background: #2d2e36;
		-webkit-transform: translate3d(-50%, -5px, 0);
		transform: translate3d(-50%, -5px, 0);
	}
	.btn-tooltip:hover::after {
		-webkit-transform: translate3d(-50%, 0, 0);
		transform: translate3d(-50%, 0, 0);
	}
}

@media (max-width: 500px) {
	.container-drums {
		-webkit-align-items: flex-start;
		-ms-flex-align: flex-start;
		align-items: flex-start;
		padding-top: 6em;
	}
	.sequencer img {
		pointer-events: none;
	}
	.btn-keys {
		display: none;
	}
}
